@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-ambient-1 { box-shadow: 0px 4px 12px rgba(167, 139, 250, 0.08); }
    .shadow-ambient-2 { box-shadow: 0px 12px 32px rgba(30, 41, 59, 0.12); }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(167, 139, 250, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(167, 139, 250, 0.4);
}
